{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <title>Dashboard-d</title>

    <link rel="shortcut icon" href="{% static 'assets/img/favicon.png' %}">

    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">

    <link rel="stylesheet" href="{% static 'assets/plugins/fontawesome/css/fontawesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/plugins/fontawesome/css/all.min.css' %}">

    <link rel="stylesheet" href="{% static 'assets/css/feather.css' %}">

    <link rel="stylesheet" href="{% static 'assets/plugins/select2/css/select2.min.css' %}">

    <link rel="stylesheet" href="{% static 'assets/css/owl.carousel.min.css' %}">

    <link rel="stylesheet" href="{% static 'assets/plugins/aos/aos.css' %}">

    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
</head>
{% block body_block %}
<body class="body-one">
<div class="main-wrapper">

<!-- first section -->
<section class="hero-section">
    <div class="container">
        <div class="home-banner">
            <div class="row align-items-center w-100">
                <div class="col-lg-7 col-md-10 mx-auto">
                    <div class="section-search aos" data-aos="fade-up">
                        <h1>Professional Services For Your Home & Commercial </h1>
                        <div class="search-box">
                            <form action="{% url 'user:index' %}">
                                <div class="search-input line">
                                    <div class="search-group-icon">
                                        <i class="feather-map-pin"></i>
                                    </div>
                                    <div class="form-group mb-0">
                                        <label>Your Location</label>
                                        <input type="text" class="form-control" placeholder="America">
                                    </div>
                                </div>
                                <div class="search-input">
                                    <div class="search-group-icon search-icon">
                                        <i class="feather-search"></i>
                                    </div>
                                    <div class="form-group mb-0">
                                        <label>What are you looking for?</label>
                                        <input type="text" class="form-control" placeholder="Car Repair Services">
                                    </div>
                                </div>
                                <div class="search-btn">
                                    <button class="btn btn-primary" type="submit"><i class="feather-search me-2"></i>Search</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="banner-imgs">
                        <div class="banner-1 shape-1">
                            <img class="img-fluid" alt="banner" src="{% static 'assets/img/banner1.png' %}">
                        </div>
                        <div class="banner-2 shape-3">
                            <img class="img-fluid" alt="banner" src="{% static 'assets/img/banner2.png' %}">
                        </div>
                        <div class="banner-3 shape-3">
                            <img class="img-fluid" alt="banner" src="{% static 'assets/img/banner3.png' %}">
                        </div>
                        <div class="banner-4 shape-2">
                            <img class="img-responsive" alt="banner" src="{% static 'assets/img/banner4.png' %}">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- Top providers -->
{#<section class="providers-section">#}
{#    <div class="container">#}
{#        <div class="section-heading">#}
{#            <div class="row align-items-center">#}
{#                <div class="col-md-6 aos" data-aos="fade-up">#}
{#                    <h2>Top Providers</h2>#}
{#                    <p>Meet Our Experts</p>#}
{#                </div>#}
{#                <div class="col-md-6 text-md-end aos" data-aos="fade-up">#}
{#                    <a href="{% url 'user:index' %}" class="btn btn-primary btn-view">View All<i class="feather-arrow-right-circle"></i></a>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#        <div class="row aos" data-aos="fade-up">#}
{#            {% for provider in providers %}#}
{#            <div class="col-lg-3 col-sm-6">#}
{#                <div class="providerset">#}
{#                    <div class="providerset-img">#}
{#                        <a href="{% url 'provider-details' provider.id %}">#}
{#                            <img src="{{ provider.image.url }}" alt="img">#}
{#                        </a>#}
{#                    </div>#}
{#                    <div class="providerset-content">#}
{#                        <div class="providerset-price">#}
{#                            <div class="providerset-name">#}
{#                                <h4><a href="{% url 'provider-details' provider.id %}">{{ provider.name }}</a><i class="fa fa-check-circle" aria-hidden="true"></i></h4>#}
{#                                <span>{{ provider.specialization }}</span>#}
{#                            </div>#}
{#                            <div class="providerset-prices">#}
{#                                <h6>${{ provider.hourly_rate }}<span>/hr</span></h6>#}
{#                            </div>#}
{#                        </div>#}
{#                        <div class="provider-rating">#}
{#                            <!-- Add rating if available -->#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#            {% endfor %}#}
{#        </div>#}
{#    </div>#}
{#</section>#}
<section class="providers-section">
  <div class="container">
    <div class="section-heading">
      <div class="row align-items-center">
        <div class="col-md-6 aos" data-aos="fade-up">
          <h2>Top Providers</h2>
          <p>Meet Our Experts</p>
        </div>
        <div class="col-md-6 text-md-end aos" data-aos="fade-up">
          <a href="providers.html" class="btn btn-primary btn-view">View All<i class="feather-arrow-right-circle"></i></a>
        </div>
      </div>
    </div>
    <div class="row aos" data-aos="fade-up">
      <div class="col-lg-3 col-sm-6">
        <div class="providerset">
          <div class="providerset-img">
            <a href="provider-details.html">
              <img src="img/provider/provider-11.jpg" alt="img">
            </a>
          </div>
          <div class="providerset-content">
            <div class="providerset-price">
              <div class="providerset-name">
                <h4><a href="provider-details.html">John Smith</a><i class="fa fa-check-circle" aria-hidden="true"></i></h4>
                <span>Electrician</span>
              </div>
              <div class="providerset-prices">
                <h6>$20.00<span>/hr</span></h6>
              </div>
            </div>
            <div class="provider-rating">
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="providerset">
          <div class="providerset-img">
            <a href="provider-details.html">
              <img src="assets/img/provider/provider-12.jpg" alt="img">
            </a>
          </div>
          <div class="providerset-content">
            <div class="providerset-price">
              <div class="providerset-name">
                <h4><a href="provider-details.html">Michael</a><i class="fa fa-check-circle" aria-hidden="true"></i></h4>
                <span>Carpenter</span>
              </div>
              <div class="providerset-prices">
                <h6>$50.00<span>/hr</span></h6>
              </div>
            </div>
            <div class="provider-rating">
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="providerset">
          <div class="providerset-img">
            <a href="provider-details.html">
              <img src="assets/img/provider/provider-13.jpg" alt="img">
            </a>
          </div>
          <div class="providerset-content">
            <div class="providerset-price">
              <div class="providerset-name">
                <h4><a href="provider-details.html">Antoinette</a><i class="fa fa-check-circle" aria-hidden="true"></i></h4>
                <span>Cleaner</span>
              </div>
              <div class="providerset-prices">
                <h6>$25.00<span>/hr</span></h6>
              </div>
            </div>
            <div class="provider-rating">
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="providerset">
          <div class="providerset-img">
            <a href="provider-details.html">
              <img src="assets/img/provider/provider-14.jpg" alt="img">
            </a>
          </div>
          <div class="providerset-content">
            <div class="providerset-price">
              <div class="providerset-name">
                <h4><a href="provider-details.html">Thompson</a><i class="fa fa-check-circle" aria-hidden="true"></i></h4>
                <span>Mechanic</span>
              </div>
              <div class="providerset-prices">
                <h6>$25.00<span>/hr</span></h6>
              </div>
            </div>
            <div class="provider-rating">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br><br>
</section>


{#How it works section#}
<section class="work-section pt-0">
  <div class="container">
    <div class="row aos" data-aos="fade-up">
      <div class="col-md-12">
        <div class="offer-paths">
          <div class="offer-pathimg">
            <img src="{% static 'assets/img/offer.png' %}" alt="img">
          </div>
          <div class="offer-path-content">
            <div class="container">
              <div class="row">
                <div class="col-md-12 text-center">
                  <div class="section-heading aos" data-aos="fade-up">
                    <h2>How It Works</h2>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <div class="work-box aos" data-aos="fade-up">
                    <div class="work-icon">
                      <span>
                        <img src="{% static 'assets/img/icons/work-icon.svg' %}" alt="img">
                      </span>
                    </div>
                    <h5>Choose What To Do</h5>
                    <h4>01</h4>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="work-box aos" data-aos="fade-up">
                    <div class="work-icon">
                      <span>
                        <img src="{% static 'assets/img/icons/find-icon.svg' %}" alt="img">
                      </span>
                    </div>
                    <h5>Find What You Want</h5>
                    <h4>02</h4>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="work-box aos" data-aos="fade-up">
                    <div class="work-icon">
                      <span>
                        <img src="{% static 'assets/img/icons/place-icon.svg' %}" alt="img">
                      </span>
                    </div>
                    <h5>Amazing Places</h5>
                    <h4>03</h4>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


{#Most popular services section#}
<section class="service-section">
  <div class="container">
    <div class="section-heading">
      <div class="row align-items-center">
        <div class="col-md-6 aos" data-aos="fade-up">
          <h2>Most Popular Services</h2>
          <p>Explore the greatest services. You won’t be disappointed</p>
        </div>
        <div class="col-md-6 text-md-end aos" data-aos="fade-up">
          <div class="owl-nav mynav1"></div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="owl-carousel popular-slider">
          {% for service in services %}
          <div class="service-widget aos" data-aos="fade-up">
            <div class="service-img">
              <a href="{% url 'service-details' service.id %}">
                <img class="img-fluid serv-img" alt="Service Image" src="{% static service.image %}">
              </a>
              <div class="fav-item">
                <a href="{% url 'categories' %}">
                  <span class="item-cat">{{ service.category }}</span>
                </a>
                <a href="javascript:void(0)" class="fav-icon">
                  <i class="feather-heart"></i>
                </a>
              </div>
              <div class="item-info">
                <a href="{% url 'providers' %}">
                  <span class="item-img"><img src="{% static 'assets/img/profiles/avatar-01.jpg' %}{{ service.provider.image }}" class="avatar" alt="User"></span>
                </a>
              </div>
            </div>
            <div class="service-content">
              <h3 class="title">
                <a href="{% url 'service-details' service.id %}">{{ service.title }}</a>
              </h3>
              <p><i class="feather-map-pin"></i>{{ service.location }}<span class="rate"><i class="fas fa-star filled"></i>{{ service.rating }}</span></p>
              <div class="serv-info">
                <h6>${{ service.price }}</h6>
                {% if service.old_price %}
                <span class="old-price">${{ service.old_price }}</span>
                {% endif %}
                <a href="{% url 'service-details' service.id %}" class="btn btn-book">Book Now</a>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="btn-sec aos" data-aos="fade-up">
      <a href="{% url 'user:index' %}" class="btn btn-primary btn-view">View All<i class="feather-arrow-right-circle"></i></a>
    </div>
  </div>
</section>


<div class="mouse-cursor cursor-outer"></div>
<div class="mouse-cursor cursor-inner"></div>

</div>

<div class="progress-wrap active-progress">
  <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
    <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" style="transition: stroke-dashoffset 10ms linear 0s; stroke-dasharray: 307.919px, 307.919px; stroke-dashoffset: 228.265px;"></path>
  </svg>
</div>

<script data-cfasync="false" src="../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
<script src="{% static 'assets/js/jquery-3.7.0.min.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/js/bootstrap.bundle.min.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/js/feather.min.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/js/owl.carousel.min.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/plugins/select2/js/select2.min.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/plugins/aos/aos.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/js/backToTop.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/js/script.js' %}" type="text/javascript"></script>
<script src="../../cdn-cgi/scripts/7d0fa10a/cloudflare-static/rocket-loader.min.js" data-cf-settings="8276d1f090056ab6049771ba-|49" defer></script>
{% endblock %}
</body>
</html>

