{% load static %}
<script src="assets/js/jquery-3.7.0.min.js" type="f60d87706a81bb5f75d11f1e-text/javascript"></script>
<script src="assets/js/bootstrap.bundle.min.js" type="f60d87706a81bb5f75d11f1e-text/javascript"></script>
<script src="assets/js/feather.min.js" type="f60d87706a81bb5f75d11f1e-text/javascript"></script>
<script src="assets/plugins/intltelinput/js/intlTelInput.js" type="f60d87706a81bb5f75d11f1e-text/javascript"></script>
<script src="assets/js/script.js" type="f60d87706a81bb5f75d11f1e-text/javascript"></script>
