{% load static %}
	<script data-cfasync="false" src="{% static 'assets/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js' %}"></script>
	<script src="{% static 'assets/js/jquery-3.7.0.min.js' %}" type="f60d87706a81bb5f75d11f1e-text/javascript"></script>
	<script src="{% static 'assets/js/bootstrap.bundle.min.js' %}" type="f60d87706a81bb5f75d11f1e-text/javascript"></script>
	<script src="{% static 'assets/js/feather.min.js' %}" type="f60d87706a81bb5f75d11f1e-text/javascript"></script>
	<script src="{% static 'assets/js/owl.carousel.min.js' %}" type="text/javascript"></script>

	<script src="{% static 'assets/plugins/select2/js/select2.min.js' %}" type="text/javascript"></script>
	<script src="{% static 'assets/plugins/aos/aos.js' %}" type="text/javascript"></script>
	
	<script src="{% static 'assets/js/script.js' %}" type="f60d87706a81bb5f75d11f1e-text/javascript"></script>
	<script src="{% static 'assets/cdn-cgi/scripts/rocket-loader.min.js' %}" data-cf-settings="8276d1f090056ab6049771ba-|49" defer></script>

	<script src="{% static 'assets/plugins/intltelinput/js/intlTelInput.js' %}" type="f60d87706a81bb5f75d11f1e-text/javascript"></script>
<script>
    // Function to show the toast
    function showToast() {
        var toast = document.getElementById('myToast');
        toast.classList.add('show');
        setTimeout(function () {
            toast.classList.remove('show');
        }, 2000);  // 5000 milliseconds = 5 seconds
    }

    // Function to hide the toast when the close button is clicked
    function hideToast() {
        var toast = document.getElementById('myToast');
        toast.classList.remove('show');
    }

    // Show the toast when the page loads
    window.onload = function () {
        showToast();
    };
    function togglePasswordVisibility() {
      var x = document.getElementById("password-field");
      if (x.type === "password") {
        x.type = "text";
      } else {
        x.type = "password";
      }
    }
    function togglePassword1Visibility() {
      var x = document.getElementById("password-1");
      if (x.type === "password") {
        x.type = "text";
      } else {
        x.type = "password";
      }
    }
    function togglePassword2Visibility() {
      var x = document.getElementById("password-2");
      if (x.type === "password") {
        x.type = "text";
      } else {
        x.type = "password";
      }
    }
</script>