{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <title>Urban Service Hub</title>

    <link rel="shortcut icon" href="{% static 'user/assets/img/favicon.png' %}">

    <link rel="stylesheet" href="{% static 'user/assets/css/bootstrap.min.css' %}">

    <link rel="stylesheet" href="{% static 'user/assets/plugins/fontawesome/css/fontawesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'user/assets/plugins/fontawesome/css/all.min.css' %}">

    <link rel="stylesheet" href="{% static 'user/assets/css/feather.css' %}">

    <link rel="stylesheet" href="{% static 'user/assets/css/style.css' %}">
</head>

<body class="login-body">
    <div class="main-wrapper">

        <header class="header">
            <div class="container">
                <nav class="navbar navbar-expand-lg header-nav">
                    <div class="navbar-header">
                        <a href="index.html" class="navbar-brand logo">
                            <img src="{% static '' %}" class="img-fluid" alt="Logo">
                        </a>
                        <a href="index.html" class="navbar-brand logo-small">
                            <img src="{% static 'user/assets/img/logo-small.png' %}" class="img-fluid" alt="Logo">
                        </a>
                    </div>
                    <ul class="nav header-navbar-rht">
                        <li class="nav-item">
                            <a class="link" href="faq.html">FAQ</a>
                        </li>
                        <li class="nav-item">
                            <a class="link" href="{% url 'user:index' %}>Login</a>
                        </li>
                        <li class="nav-item dropdown flag-nav">
                            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                                aria-expanded="false">
                                <img src="{% static 'user/assets/img/flag.png' %}" alt="Flag"> En
                            </a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a href="javascript:void(0);" class="dropdown-item">
                                    <img src="{% static 'user/assets/img/flags/us.png' %}" alt="Flag" height="16"> En
                                </a>
                                <a href="javascript:void(0);" class="dropdown-item">
                                    <img src="{% static 'user/assets/img/flags/fr.png' %}" alt="Flag" height="16"> French
                                </a>
                                <a href="javascript:void(0);" class="dropdown-item">
                                    <img src="{% static 'user/assets/img/flags/de.png' %}" alt="Flag" height="16"> German
                                </a>
                            </div>
                        </li>
                    </ul>
                </nav>
            </div>
        </header>

    <div class="container">
        <h2>Password Recovery Success</h2>
        <p>An email with instructions to reset your password has been sent to your email address.</p>
    </div>
        <div class="mouse-cursor cursor-outer"></div>
        <div class="mouse-cursor cursor-inner"></div>

    </div>

    <script src="{% static 'user/assets/js/jquery-3.7.0.min.js' %}" type="text/javascript"></script>

    <script src="{% static 'user/assets/js/bootstrap.bundle.min.js' %}" type="text/javascript"></script>

    <script src="{% static 'user/assets/js/feather.min.js' %}" type="text/javascript"></script>

    <script src="{% static 'user/assets/js/script.js' %}" type="text/javascript"></script>
</body>

<!-- Mirrored from truelysell.dreamstechnologies.com/html/template/login.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 24 Feb 2024 06:48:26 GMT -->
</html>