{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <title>Urban Service Hub</title>

    <link rel="shortcut icon" href="{% static 'user/assets/img/favicon.png' %}">

    <link rel="stylesheet" href="{% static 'user/assets/css/bootstrap.min.css' %}">

    <link rel="stylesheet" href="{% static 'user/assets/plugins/fontawesome/css/fontawesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'user/assets/plugins/fontawesome/css/all.min.css' %}">

    <link rel="stylesheet" href="{% static 'user/assets/css/feather.css' %}">

    <link rel="stylesheet" href="{% static 'user/assets/css/style.css' %}">
</head>

<body class="login-body">
    <div class="main-wrapper">
        <header class="header">
            <div class="container">
                <nav class="navbar navbar-expand-lg header-nav">
                    <div class="navbar-header">
                        <img src="{% static '' %}" class="img-fluid" alt="Logo">
                        </a>
                    </div>
                    <!-- You can add your navigation links and other content here -->
                    <ul class="nav header-navbar-rht">
                         <li class="nav-item">
                             <a class="link" href="">FAQ</a>
                         </li>
                        <li class="nav-item">
                            <a class="link" href="Login_main.html">Login</a>
                        </li>
                        <li class="nav-item dropdown flag-nav">
                            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                                aria-expanded="false">
                                <img src="{% static 'user/assets/img/flag.png' %}" alt="Flag"> En
                            </a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a href="javascript:void(0);" class="dropdown-item">
                                    <img src="{% static 'user/assets/img/flags/us.png' %}" alt="Flag" height="16"> En
                                </a>
                                <a href="javascript:void(0);" class="dropdown-item">
                                    <img src="{% static 'user/assets/img/flags/fr.png' %}" alt="Flag" height="16"> French
                                </a>
                                <a href="javascript:void(0);" class="dropdown-item">
                                    <img src="{% static 'user/assets/img/flags/de.png' %}" alt="Flag" height="16"> German
                                </a>
                            </div>
                        </li>
                        <!-- Add more navigation links as needed -->
                    </ul>
                </nav>
            </div>
        </header>
        
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-lg-6 mx-auto">
                        <div class="login-wrap">
                            <div class="login-header">
                                <h3>Password Recovery</h3>
                                <p>Enter your email, and we'll send you a link to reset your password.</p>
                            </div>
                            <form action="password_recovery_success" method="post">
                                {% csrf_token %}
                                <div class="log-form">
                                    <div class="form-group">
                                        <label class="col-form-label">Email</label>
                                        <input type="email" class="form-control" name="email" placeholder="johndoe@example.com" required>
                                    </div>
                                </div>
                                <button class="btn btn-primary w-100 login-btn" type="submit">Submit</button>
                                <p class="no-acc mt-0">Remember Password? <a href="Login_main">Login</a></p>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="mouse-cursor cursor-outer"></div>
        <div class="mouse-cursor cursor-inner"></div>
    </div>

    <script src="{% static 'user/assets/js/jquery-3.7.0.min.js' %}" type="text/javascript"></script>

    <script src="{% static 'user/assets/js/bootstrap.bundle.min.js' %}" type="text/javascript"></script>

    <script src="{% static 'user/assets/js/feather.min.js' %}" type="text/javascript"></script>

    <script src="{% static 'user/assets/js/script.js' %}" type="text/javascript"></script>
</body>

</html>
