{% load static %}
<footer class="footer">

    <div class="footer-bottom">
        <div class="container">

            <div class="copyright">
                <div class="row align-items-center">
                    <div class="col-md-4">
                        <div class="copyright-text">
                            <p class="mb-0">Copyright &copy; 2023. All Rights Reserved.</p>
                        </div>
                    </div>
                    
                    <div class="col-md-4">

                        <div class="copyright-menu">
                            <ul class="policy-menu">
                                <li>
                                    <a href="privacy-policy.html">Privacy Policy</a>
                                </li>
                                <li>
                                    <a href="terms-condition.html">Terms & Conditions</a>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>

</footer>