{% extends 'base.html' %}
{% load static %}
{% block body_block %}

<div class="row">
               {% include 'customer/customer-sidebar.html' %}     
                    <div class="col-lg-9">

                        <div class="row align-items-center">
                            <div class="col-md-4">
                                <div class="widget-title">
                                    <h4>Booking List</h4>
                                </div>
                            </div>
                            <div class="col-md-8 d-flex align-items-center justify-content-md-end flex-wrap">
                                <div class="review-sort me-2">
                                    <p>Sort</p>
                                    <select class="select">
                                        <option>Recent</option>
                                        <option>Older</option>
                                        <option>A to Z</option>
                                        <option>Z to A</option>
                                    </select>
                                </div>
                                <div class="grid-listview">
                                    <ul>
                                        <li>
                                            <a href="customer-booking-calendar.html">
                                                <i class="feather-calendar"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);">
                                                <i class="feather-filter"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="feather-grid"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="http://127.0.0.1:8000/service/service-booking" class="active">
                                                <i class="feather-list"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>


                        <div class="booking-list">
                            <div class="booking-widget">
                                <div class="booking-img">
                                    <a href="booking-details.html">
                                        <img src="{% static 'assets/img/services/service-08.jpg' %}" alt="User Image">
                                    </a>
                                    <div class="fav-item">
                                        <a href="javascript:void(0)" class="fav-icon">
                                            <i class="feather-heart"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="booking-det-info">
                                    <h3>
                                        <a href="booking-details.html">Computer Services1 </a><span
                                            class="badge badge-danger">Cancelled by User</span>
                                    </h3>
                                    <ul class="booking-details">
                                        <li>
                                            <span class="book-item">Booking Date</span> : 27 Sep, 17:00-18:00
                                        </li>
                                        <li>
                                            <span class="book-item">Amount</span> : $100.00 <span
                                                class="badge-grey badge-new">Paypal</span>
                                        </li>
                                        <li>
                                            <span class="book-item">Location</span> : Newyork, USA
                                        </li>
                                        <li>
                                            <span class="book-item">Customer</span> :
                                            <div class="user-book">
                                                <div class="avatar avatar-xs">
                                                    <img class="avatar-img rounded-circle" alt="User Image"
                                                        src="{% static 'assets/img/profiles/avatar-02.jpg' %}">
                                                </div>
                                                John Doe
                                            </div>
                                            <p><a href="https://truelysell.dreamstechnologies.com/cdn-cgi/l/email-protection"
                                                    class="__cf_email__"
                                                    data-cfemail="2d44434b426d47424543494248034e4240">[email&#160;protected]</a>
                                            </p>
                                            <p>+1 888 888 8888</p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="booking-action action-popup-btn">
                                <a href="javascript:void(0);" class="btn btn-secondary"><i
                                        class="fa-solid fa-circle-info"></i>Reason</a>
                                <a href="http://127.0.0.1:8000/service/service-booking" class="btn btn-primary" data-bs-toggle="modal"
                                    data-bs-target="#reschedule"><i
                                        class="fa-regular fa-calendar-days"></i>Reschedule</a>
                            </div>
                        </div>


                        <div class="booking-list">
                            <div class="booking-widget">
                                <div class="booking-img">
                                    <a href="booking-details.html">
                                        <img src="{% static 'assets/img/services/service-18.jpg' %}" alt="User Image">
                                    </a>
                                    <div class="fav-item">
                                        <a href="javascript:void(0)" class="fav-icon">
                                            <i class="feather-heart"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="booking-det-info">
                                    <h3>
                                        <a href="booking-details.html">Car Repair Services</a> <span
                                            class="badge badge-success">Completed</span>
                                    </h3>
                                    <ul class="booking-details">
                                        <li>
                                            <span class="book-item">Booking Date</span> : 23 Sep, 10:00-11:00
                                        </li>
                                        <li><span class="book-item">Amount</span> : $50.00 <span
                                                class="badge-grey">COD</span></li>
                                        <li><span class="book-item">Location</span> : Alabama, USA</li>
                                        <li>
                                            <span class="book-item">Customer</span> :
                                            <div class="user-book">
                                                <div class="avatar avatar-xs">
                                                    <img class="avatar-img rounded-circle" alt="User Image"
                                                        src="{% static 'assets/img/profiles/avatar-03.jpg' %}">
                                                </div>
                                                John Smith
                                            </div>
                                            <p><a href="https://truelysell.dreamstechnologies.com/cdn-cgi/l/email-protection"
                                                    class="__cf_email__"
                                                    data-cfemail="a8c1c6cec7e8c2c7c0c6ccc7cd86cbc7c5">[email&#160;protected]</a>
                                            </p>
                                            <p>+1 607-276-5393</p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="booking-action action-popup-btn">
                                <a href="http://127.0.0.1:8000/service/service-booking" class="btn btn-secondary" data-bs-toggle="modal"
                                    data-bs-target="#reschedule"><i class="fa-regular fa-calendar-days"></i>Rebook</a>
                                <a href class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#add-review"><i
                                        class="fa-solid fa-star"></i>Add Review</a>
                            </div>
                        </div>


                        <div class="booking-list">
                            <div class="booking-widget">
                                <div class="booking-img">
                                    <a href="booking-details.html">
                                        <img src="{% static 'assets/img/services/service-10.jpg' %}" alt="User Image">
                                    </a>
                                    <div class="fav-item">
                                        <a href="javascript:void(0)" class="fav-icon">
                                            <i class="feather-heart"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="booking-det-info">
                                    <h3>
                                        <a href="booking-details.html">Car Repair Services</a> <span
                                            class="badge badge-success">Completed</span>
                                    </h3>
                                    <ul class="booking-details">
                                        <li>
                                            <span class="book-item">Booking Date</span> : 23 Sep, 10:00-11:00
                                        </li>
                                        <li><span class="book-item">Amount</span> : $50.00 <span
                                                class="badge-grey">COD</span></li>
                                        <li><span class="book-item">Location</span> : Alabama, USA</li>
                                        <li>
                                            <span class="book-item">Customer</span> :
                                            <div class="user-book">
                                                <div class="avatar avatar-xs">
                                                    <img class="avatar-img rounded-circle" alt="User Image"
                                                        src="{% static 'assets/img/profiles/avatar-03.jpg' %}">
                                                </div>
                                                John Smith
                                            </div>
                                            <p><a href="https://truelysell.dreamstechnologies.com/cdn-cgi/l/email-protection"
                                                    class="__cf_email__"
                                                    data-cfemail="7f161119103f151017111b101a511c1012">[email&#160;protected]</a>
                                            </p>
                                            <p>+1 607-276-5393</p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="booking-action action-popup-btn">
                                <a href="http://127.0.0.1:8000/service/service-booking" class="btn btn-secondary" data-bs-toggle="modal"
                                    data-bs-target="#reschedule"><i class="fa-regular fa-calendar-days"></i>Rebook</a>
                                <div class="view-action mt-3 mb-0 me-0 ms-0">
                                    <div class="rating text-center">
                                        <i class="fas fa-star filled"></i>
                                        <i class="fas fa-star filled"></i>
                                        <i class="fas fa-star filled"></i>
                                        <i class="fas fa-star filled"></i>
                                        <i class="fas fa-star filled"></i>
                                    </div>
                                    <a href="booking-details.html" class="view-btn p-0">View Details</a>
                                </div>
                            </div>
                        </div>


                        <div class="booking-list">
                            <div class="booking-widget">
                                <div class="booking-img">
                                    <a href="booking-details.html">
                                        <img src="{% static 'assets/img/services/service-07.jpg' %}" alt="User Image">
                                    </a>
                                    <div class="fav-item">
                                        <a href="javascript:void(0)" class="fav-icon">
                                            <i class="feather-heart"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="booking-det-info">
                                    <h3>
                                        <a href="booking-details.html">Interior Designing</a> <span
                                            class="badge badge-info">Inprogress</span>
                                    </h3>
                                    <ul class="booking-details">
                                        <li>
                                            <span class="book-item">Booking Date</span> : 27 Sep, 17:00-18:00
                                        </li>
                                        <li><span class="book-item">Amount</span> : $50.00 <span
                                                class="badge-grey">COD</span></li>
                                        <li><span class="book-item">Location</span> : Washington, DC, USA</li>
                                        <li>
                                            <span class="book-item">Customer</span> :
                                            <div class="user-book">
                                                <div class="avatar avatar-xs">
                                                    <img class="avatar-img rounded-circle" alt="User Image"
                                                        src="{% static 'assets/img/profiles/avatar-06.jpg' %}">
                                                </div>
                                                Quentin
                                            </div>
                                            <p><a href="https://truelysell.dreamstechnologies.com/cdn-cgi/l/email-protection"
                                                    class="__cf_email__"
                                                    data-cfemail="c8a1a6aea788b9bdada6bca1a6e6aba7a5">[email&#160;protected]</a>
                                            </p>
                                            <p>+1 601-810-9218</p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="booking-action action-popup-btn">
                                <a href="customer-chat.html" class="btn btn-secondary"><i
                                        class="fa-brands fa-rocketchat"></i> Chat</a>
                                <a href="javascript:void(0);" class="btn btn-primary"><i
                                        class="fa-solid fa-circle-xmark"></i>Cancel</a>
                            </div>
                        </div>


                        <div class="booking-list">
                            <div class="booking-widget">
                                <div class="booking-img">
                                    <a href="booking-details.html">
                                        <img src="{% static 'assets/img/services/service-13.jpg' %}" alt="User Image">
                                    </a>
                                    <div class="fav-item">
                                        <a href="javascript:void(0)" class="fav-icon">
                                            <i class="feather-heart"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="booking-det-info">
                                    <h3>
                                        <a href="booking-details.html">House Cleaning Services</a> <span
                                            class="badge badge-warning">Pending</span>
                                    </h3>
                                    <ul class="booking-details">
                                        <li>
                                            <span class="book-item">Booking Date</span> : 27 Sep, 17:00-18:00
                                        </li>
                                        <li><span class="book-item">Amount</span> : $375.00 <span
                                                class="badge-grey">COD</span></li>
                                        <li><span class="book-item">Location</span> : Virginia, USA</li>
                                        <li>
                                            <span class="book-item">Customer</span> :
                                            <div class="user-book">
                                                <div class="avatar avatar-xs">
                                                    <img class="avatar-img rounded-circle" alt="User Image"
                                                        src="{% static 'assets/img/profiles/avatar-02.jpg' %}">
                                                </div>
                                                Johnson
                                            </div>
                                            <p><a href="https://truelysell.dreamstechnologies.com/cdn-cgi/l/email-protection"
                                                    class="__cf_email__"
                                                    data-cfemail="5c35323a331c363334322f3332723f3331">[email&#160;protected]</a>
                                            </p>
                                            <p>+1 312-328-3970</p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="booking-action action-popup-btn">
                                <a href="customer-chat.html" class="btn btn-secondary"><i
                                        class="fa-brands fa-rocketchat"></i> Chat</a>
                                <a href="javascript:void(0);" class="btn btn-primary"><i
                                        class="fa-solid fa-circle-xmark"></i>Cancel</a>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-sm-6">
                                <div class="review-entries">
                                    <span>Show</span>
                                    <select>
                                        <option>10</option>
                                        <option>25</option>
                                        <option>50</option>
                                        <option>100</option>
                                    </select>
                                    <span>entries</span>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="review-pagination">
                                    <p>1 - 5 of 10</p>
                                    <ul class="pagination">
                                        <li class="page-item">
                                            <a class="page-link" href="javascript:void(0);">1</a>
                                        </li>
                                        <li class="page-item active">
                                            <a class="page-link" href="javascript:void(0);">2 <span
                                                    class="visually-hidden">(current)</span></a>
                                        </li>
                                        <li class="page-item">
                                            <a class="page-link" href="javascript:void(0);">3</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
{% endblock %}