{% extends 'base.html' %}
{% load static %}
{% block body_block %}
	 <div class="breadcrumb-bar">
            <div class="container">
            	<br>
            	<br>
            	<br>
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="breadcrumb-title mb-0">Providers</h2>
                    </div>
                </div>
            </div>
        </div>


        <div class="content">
            <div class="container">
                <div class="row">
                	 {% for provider_service in provider_services %}
	                    <div class="col-lg-3 col-sm-6">
	                        <div class="providerset">
	                            <div class="providerset-img">
	                                <a href="http://127.0.0.1:8000/user/provider-details">
	                                	{% if provider_service.picture %}
	                                    	<img src="{{provider_service.picture.url}}" alt="img">
	                                    {% else %}
	                                    	<img src="{% static 'assets/img/provider/provider-11.jpg' %}" alt="img">
	                                    {% endif %}
	                                	
	                                </a>
	                            </div>
	                            <div class="providerset-content">
	                                <div class="providerset-price">
	                                    <div class="providerset-name">
	                                        <h4><a href="http://127.0.0.1:8000/user/provider-details">{{provider_service.provider.first_name}}</a><i class="fa fa-check-circle"
	                                                aria-hidden="true"></i></h4>
	                                        <span>{{provider_service.category.name}}</span>
	                                    </div>
	                                    <div class="providerset-prices">
	                                        <h6>${{provider_service.price}}<span>/hr</span></h6>
	                                    </div>
	                                </div>
	                                <div class="provider-rating">
	                                    <div class="rating">
	                                        <i class="fas fa-star filled"></i>
	                                        <i class="fas fa-star filled"></i>
	                                        <i class="fas fa-star filled"></i>
	                                        <i class="fas fa-star filled"></i>
	                                        <i class="fa-solid fa-star-half-stroke filled"></i><span>(320)</span>
	                                    </div>
	                                </div>
	                            </div>
	                        </div>
	                    </div>
	                 {% endfor %}
                </div>
            </div>
        </div>
{% endblock %}